/*
:::ANNOTATIONS::: 
Matemáticas para cuadrar - intentando base8
container
  w= 264
  h= 320

  portada
  w= 104 40%
  h=  152 47'5%

  Text info book = 160px width  60%  
  description book = 168  52'5%
  
  sidebar left = 176px 18% 
  content book = 82%

  navbar top = 7% h
  banner = 20% h
  content = 70% 
  footer = 4%

  alternate b12= 64c 16b 12n 8f 
  margin = 24 px 13% 
  content sidebar  = 87%

  NAV = OPEN SANS
  books = mBold y mR

  _______________________*/

/*__Global__*/

:root {
  --main-bg-color: white;
  --main-black-color: black;
  --main-grey-color: #d5d3d3;
  --main-primary-color: #4b98cc;
  --main-secundary-color: #90c550;

  --size-mWpx: 1024px;
  --size-mHpx: 1720px;

  --spacing: 8px;

  --size-wBook: 104px;
  --size-hBook: 152px;

  --fmR: Montserrat-Regular;
  --fmB: Montserrat-Bold;
  --foSB: OpenSans-SemiBold;
} /*fetch js: element.style.getPropertyValue("--my-var");*/

/*Font adding */
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../resources/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../resources/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../resources/fonts/Montserrat-Bold.ttf");
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

/* Forcing inside viewport */
body {
  background-color: salmon;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
}
.containWE {
  position: relative;
  overflow-x: hidden;
  max-height: 100%;
}
#webExam {
  background-color: var(--main-bg-color, white);
  width: var(--size-mWpx);
  height: 90vh;
  outline: thick solid var(--main-black-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 16px;
  padding-right: 16px;
}

/*bad-resizing in case monitors
don't have good enough
resolution*/
@media (min-width: 1520px) {
  body {
    transform: scale(1.4);
  }
  #webExam {
    height: 70%;
  }
}
@media (max-width: 1023px) {
  body {
    transform: scale(0.8);
  }
}
@media (max-width: 800px) {
  body {
    transform: scale(0.5);
  }
}

/*__Specific__*/
/* ::NAVBAR ::*/
#navbar {
  width: 100%;
  border-bottom: 2px solid var(--main-primary-color);
}

#navbar img {
  flex-basis: 20%;
}
#navbar .logo,
.shop {
  max-height: auto;
  margin: auto;
}

#navbar .shop {
  max-width: 48px;
}

#navbar .logo {
  max-width: 113px;
}
#navbar ul {
  /*658px*/
  flex-basis: 60%;
  align-self: center;
  list-style: none;
  justify-content: space-around;
  font-family: var(--foSB);
  font-size: 1.4em;
  margin-bottom: -24px;
}

/* Go back later */
/*#navbar ul li:nth-child(2) {
  border-top: 4px var(--main-primary-color) solid;
  border-radius: 8px;
} */
#navbar ul a {
  text-decoration: none;
  color: var(--main-black-color);
}
#navbar ul a + a {
  margin-left: 16px;
}
#navbar ul a:hover {
  border-top: 4px var(--main-primary-color) solid;
  border-radius: 8%;
}
.subnav {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--main-primary-color);
}
.subnav p {
  font-family: var(--foSB);
  font-size: 0.6em;
  align-content: left;
  margin-left: 60px;
  flex-basis: 50%;
  margin: auto;
}
.subnav img {
  align-content: right;
  margin: auto;
  margin-left: 20%;
}
#banner {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.contentBanner {
  display: none;
}

.cutBanner {
  /*1024x320*/
  /*clip-path: inset(28% 0 0 0);*/
  position: relative;
  bottom: 38%;
}

/* ::BOOK ::*/
.bookContainer {
  position: relative;
  width: 264px;
  height: 272px;
  padding: var(--spacing);
}

.bookImage {
  width: var(--size-wBook);
  height: var(--size-hBook);
  margin-top: 2%;
  margin-left: 2%;
}

.bookInfo {
  font-family: var(--fmB);
  font-size: 0.75em;
  list-style: none;
  line-height: 1.6em;
  margin-left: -24px;
}

.bookInfo a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-primary-color);
  font-size: 1.1em;
}

.bookInfo > li:nth-last-child(1) {
  margin-top: 8px;
}
.bookInfo > li:nth-child(1) {
  height: 30px;
  padding: 6% 0;
}
.bookInfo > li:nth-child(2) {
}

.bookContainer > p {
  position: relative;
  font-family: var(--fmR);
  font-size: 0.8em;
  position: relative;
}

.bookContainer > p:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 100%;
  height: 3.6em;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}
/* ::SIDEBAR ::*/
aside {
  flex-basis: 16%;
}

/*||FIRST PART NAVIGATION*/
#sidenav {
  font-family: var(--foSB);
}

#sidenav h3 {
  color: var(--main-black-color);
  margin-bottom: -4px;
}

#sidenav input {
  display: none;
}
#sidenav input + label {
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 8px;
}
#sidenav input + label + div {
  display: none;
  font-size: 0.8em;
}

#sidenav input:checked + label {
  color: var(--main-primary-color);
  text-transform: uppercase;
}

#sidenav input:checked + label + div {
  display: block;
}

/*||SECOND PART PROMOTIONAL*/
#promo {
  height: 100%;
  background-color: var(--main-secundary-color);
  border-top: 1px var(--main-primary-color) solid;
  color: var(--main-bg-color);
  font-family: var(--foSB);
  font-size: 0.8em;
  align-items: center;
  margin-top: 16px;
}
#promo img {
  width: 102px;
  height: 152px;
  margin-bottom: 16px;
}
#promo form {
  align-items: center;
  margin: 8px;
  margin-top: 0px;
  font-size: 0.7em;
}
#promo form input[type="submit"] {
  margin-top: 10px;
  margin-left: 72px;
}
/* :: MAIN ::*/
main {
  flex-wrap: wrap;
}

article {
  box-sizing: content-box;
}
#pages {
  align-items: right;
}
/* ::FOOTER ::*/
footer {
  width: 100%;
  height: 16%;
  background-color: var(--main-primary-color);
}
footer ul {
  /*658px*/
  flex-basis: 100%;
  align-self: center;
  list-style: none;
  justify-content: space-around;
  font-family: var(--fmR);
  font-size: 0.8em;
  margin-left: 20%;
  margin-right: 20%;
}

footer ul li a {
  color: var(--main-bg-color);
  text-decoration: none;
}
