body {
	margin:0;
	padding:0;
	background:#fff;
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
}
ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
}

/* Estilos de la navbar */
nav {
	text-align:center;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
    background:none;
    float: inherit;
}
nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
}
nav ul li a {
	color: wheat;
	display:inline-block;
	padding:1em 3em;
	font-size:1.2rem;
}
nav ul li a:hover {
	color: #34B484;
}

/* Hacer que la navbar se quede fija arriba */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }
  

  /* Media query que no hace falta */

@media screen and (max-width:48em) {

	nav ul li a{
        color: #34B484;
        font-weight: bolder;
        font-size: 1.5rem;
            }
}

/* Caja contenedor */

.content {
	width:50%;
    margin-top: 5%;
    margin-left: 25%;
	font-size:20px;
    color: #333;
    border-radius: 10px;
    border-color: #000;
	text-align: center;
}

#firstLink .content {
	
    margin-top: 15%;
}


h1 {
    text-align: center;
}

/* Selector que hace la primera letra grande */

h2::first-letter {
    font-size:200%;
    color:#8A2BE2;
 }

/* ID con estilos */
#firstLink {
    background-color: #34B48420;
}

#secondLink {
    background-color: #34B48440;
}


#thirdLink {
    background-color: #34B48460;
}

/* Sangria francesa */
.french
    {
        margin-left: 15%;
        border: 10px solid black;
        padding: 10px;
        border-bottom: 0px;
        border-top: 0px;
        border-right: 0px;
        transform: inherit;
        transform: translate(30,20);
        
          }

/* La alternativa más sencilla sería usar .class { text-indent: -2rem} 

.frenchAlt {
    text-indent: -2rem;
      }
Eso haría que la primera línea estuviese más atrás que el resto del párrafo */
    

/* Interlineado de 150% */
.lHeight {

    line-height : 150%;
}

