* {
    box-sizing: border-box;
}

@-webkit-keyframes animacionCaperuza {
    0%{left: 1%;}
    50%{top: 55%;}
    100%{top: 63%;left: 10%;}
}

@-webkit-keyframes animacionLobo {
    0%{left: 35%;}
    50%{top: 70%;}
    100%{top: 75%;left: 1%;}
}

body, div, p, pre, ul, li {
    margin: 0;
}

div {
    position: absolute;
}

div#caperucita {
    top: 63%;
    left: -10%;
    -webkit-animation-name: animacionCaperuza;
    -webkit-animation-duration: 5s;
    animation-name: animacionCaperuza;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

div#caperucita img {
    width: 150px;
}

div#lobo {
    top: 75%;
    left: 1%;
    -webkit-animation-name: animacionLobo;
    -webkit-animation-duration: 5s;
    animation-name: animacionLobo;
    animation-duration: 5s;
    cursor: pointer;
}

div#lobo img {
    width: 150px;
    z-index: 1;
}

#texto {
    opacity: 0;
    top: 60%;
    background-color: rgb(252, 74, 74);
    left: -1%;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    margin-top: 0;
    padding: 20px;
    border-radius: 8px 8px 8px 8px;
    width: 200px;
    position: absolute;
    text-align: center;
}

#texto::before {
   content: "";
   position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

#lobo:hover+div {
    opacity: 1;
    transition: all 3s;
}
