
/*
 se consulta el tamaño de la pantalla y provoca una acción

# {box-sizing: border-box;}
body{ margin: 0;} 
div {border: 1px solid #000}
#contenedor {display: flex; flex-direction: column; margin: 0 auto}
#centro {flex-grow: 1}
#barra1 { background-color: black;color:white;display: flex;justify-content: space-around;flex-direction: row-reverse; align-content: flex-end; flex-basis: 300px; flex-wrap: wrap;}
#barra1 div { border: 1px solid #fff; width:300px}


/* esta etiqueta permite modificar la pantalla. Primero consulta cómo es, 
y a partir de eso se le añade la lógica de que si es menor a 801px, que el fondo
sea rojo 

@media screen and (min-width:801px) {
    body {
        background-color: red; }
}

*/


body {
    margin:0;
    color: white;
}

#contenedor {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: rgb(19, 50, 69);
    background: radial-gradient(circle, rgb(109, 111, 210) 0%rgb(73, 141, 215)1) 50%);
    border: 1px solid #000;
    border-collapse: collapse;

}
#cont2{
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    border-collapse: collapse;
}

div {
    width:100%;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

#contenedor  div {
    border: 1px solid #000;
    border-collapse: collapse;
    justify-content: space-around;
    text-align: center;
 }



#cont2 > div {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    border-collapse: collapse;
    text-align: center;
}


#cont2 .logo {
     background-image: url(https://cdn.drawception.com/drawings/jSz25awtAH.png);
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#cont3{
    
    justify-content: space-around;
    border-collapse: collapse;
    }


ul {
    list-style: none;
    margin: 0;
    margin-left: -2.4444%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
}

li {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #000;

}

li > div {
    flex-shrink: 1;
    width: 100%;
}

li > p {
    flex-shrink: 1;
    margin:10px;
}



li:first-child {
 flex-grow: 1;
 border: 1px solid #000;
  }


  img {
    position: relative;
    top: 50; }

  @media screen and (max-width: 600px) {
 
    body {
          color: black;
      }
    #contenedor{
     background: rgb(144, 223, 151);
     background: radial-gradient(circle, rgb(210, 198, 109) 0%rgb(92, 215, 73)1) 80%);
        }
     #cont2{
            flex-direction: column;
        }
    #cont2 > div:first-child {
            padding-top: 5%;
            padding-bottom: 5%;
        } 
    #cont2 > div {
        padding-top: 0%;
        padding-bottom: 0%;
    }
      #cont2:first-child .logo{
            background-size: 20%;
        } 

    ul {
            margin-left: -8%;
            flex-direction: column;
        }

li {
    filter: hue-rotate(-0.50turn);
    padding: 3%;
}

img {
    top: 0; }
  }
/* para no hacer la ñapa del margin vamos a utilizar 
la propiedad gap. Siendo así, row-gap o column-gap: 000px */ 

#cont2 > div {
    display: inline-flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;

    border-collapse: collapse;
    text-align: center;
}

#cont2 {
    column-gap: 5%;
    row-gap: 5%;
}