  :root {
      --myBlue1:  #0060C4;
      --myBlue2: #a1cdd6;

      --myGreen1: #9CAE61;
      --myGreen2: #d7ea9b;
      --myGreen3: #edef0f;

      --myGrey: #4E555F;

      --myWhite: #f3f3f3;
      --myBlack:  #030303;

    --typoH: var(--myBlue1);
    --typoP: var(--myGrey);

    --tagsBg: var(--myBlue2);
    --tagVarious: var(--myWhite);
    --tagFont: var(--myGrey);

    --bgContact: var(--myBlue2);
    --footerC: var(--myGreen3);
    --footerB: var(--myBlack);

    --myGradient: radial-gradient(var(--myWhite) 0%, var(--myBlue2) 40%);
    

  }
  
  body {
    height: 100vh;
    background-color: var(--myWhite);
    font-family: 'Gothic A1', sans-serif;
  }

  .logo {
    background-image: url(./Recursos/wbLogoTransparent.png);
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: inherit;


  }

  nav {
	text-align:center;
    width:100%;
	position:relative;
	height: 10vh;
	overflow:hidden;
    background:none;
    background-color: grey;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em;
	font-size: 1.1vw;
}


nav  .logo {
    display: inline-block;
    position: fixed;
    left: 0;
    width: 5%;
    
}


.menu{
    display: inline-block;
    text-align:center;
}
nav ul {
    width: fit-content;
    display: inline-block;
	text-align:center;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	color: wheat;
	display:inline-block;
}
nav ul li a:hover {
	color: #34B484;
}

/* Hacer que la navbar se quede fija arriba */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    display: inline-block;

  }

 

  nav .typRight {
    display: inline-block;

  }
  
nav .navRegister {

}

nav .navBasket {


}

  #basketNumber { }

  nav .navSearch {

  }

  /*------------------------hero*/
  .heroContainer {
    display: inline-block;
    background-image: url(./Recursos/heroImage/Campo.jpg);
    width: 100vw;
    height: 70%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    font-size:20px;
    color: #333;
    border-color: #000;
    text-align: center;
    .content {

    }

  }

  .heroContainer .heroTitle {

  }

.heroContainer .heroRelated {

}

/*------------------------products*/
.productInfo {}

.productInfo .typInfo {

}

.tags {
}

.tagsContainer {

}

.textTag {

}

.tagComedy {

}
.picture .tag1{ }

.tagTerror {}
.picture .tag2{ }

.tagVarious {
}
.picture .tag3{ }

.tagArt {

}

.picture .tag4{ }

/*------------------------newsletter*/

.newsletter {}

.newslForm {}

/*------------------------contact*/
.contact {}


.contact h1 {}

/*------------------------footer*/
.footer {}

.sitemapContainer {}

.sitemapContainer h2 {}

.sitemapContainer ul { }
.sitemapContainer ul > li{ }
.sitemapContainer ul > li ul{ }

.credits {}

  background-image: var(--myGradient);
