@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Playfair+Display:ital@0;1&display=swap');

*{box-sizing: border-box;}
:root{font-size:15px;}

body{margin:0;font-family:"Playfair Display";}
h1,h2,h3{margin:0;padding:0;}
h1{
	font-family:"Gloria Hallelujah";
	font-size:2rem;
	margin:0;
	padding:0;
	line-height: 1.5rem
}
h2{
	font-size:1.2rem;
	margin-top:10px;
}
h2.destacado{
	font-size:1.6rem;
	color:green;
}
#contenedor{width:90%;height:100vh;margin:10px auto;}
header{border-bottom: 10px solid #343762}
.flex{display:flex;}
.flexFila{flex-direction:row;}
.flexColumna{flex-direction:column;}
.flexSeparacion{justify-content:space-between;align-items:flex-end;}
.flexAlineadoAbajo{align-items:flex-end;}

header,section,footer{flex-basis:100px}
section{flex-grow:2}
header,footer{flex-shrink:2}
article{flex-basis:300px};
ul{margin:0;list-style-type:none;position:relative}
li{
	font-family: "Playfair Display";
	font-size:0.8rem;
	text-indent:0;
	margin:0;
	margin-left:10px;

	list-style-type: none
}


section{display:flex;flex-direction: row}
main section:nth-child(1) article:nth-child(2){background-color: #6A40C9}
main section:nth-child(1) article:nth-child(1) main section:nth-child(3) article:nth-child(2){padding:10px}
main section:nth-child(1) article:nth-child(1) p {color:#343762;}
main section:nth-child(2) article:nth-child(1) {background-color:#643595;}
main section:nth-child(3) article:nth-child(2) {background-color:#A527CF;}
main section:nth-child(3) article:nth-child(2) p{color:white;font-size:0.6rem;}
 .columna1{flex-shrink: 2}
 .columna2{flex-grow: 2}
#fondo1{background-color:red;}
label{font-size:0.8rem;color:#343762;}
form{flex-wrap: wrap}
form~div{display:none;}

li > ul {position:absolute;margin:0;background-color:gray;width:80px;
clip:rect(0px,80px,0px,0px);transition:all 3s;padding-left:5px;}

li > ul > li {text-indent:0px;}
li:hover > ul{clip:rect(0px,80px,100px,0px)}


.ocultos{display:none;}
/*
.hamburger {
	width: 50px;
	height: 50px;
	background-color: goldenrod;
	padding: 15%;
	padding-top: 16px;
	display: none;
	border-radius: 10px;
}

.decorationBurger {
	width: 100%;
	height: 4px;
	background-color: black;
	margin-bottom: 3px;
} */
header #div {
	display: none; 
	flex-direction: row;}

@media screen and (max-width:600px){

	section{flex-wrap: wrap}
	.flexFila{flex-direction:row-reverse;}
	li{display: none;}
	.oculto{display:none;}

	.hamburger{
		display: block;}

	header div {
	width: 50px;
	height: 50px;
	background-color: goldenrod;
	padding: 5%;
	padding-top: 16px;
	display: block;
	border-radius: 10px;
	}
		/*

	.hamburger:hover li{
		display: block;
		background-color: goldenrod;
		flex-direction: row ;
	}

	li > ul {
		position: absolute;
		left: 12%;
	}
	.hamburger:hover ul {
		flex-direction: column ;}

	ul:hover li {
		display: block;

	}*/
	
	ul {
		display: none;
	}
	li{
		background-color: goldenrod;
		flex-direction: column-reverse ;
	}

}







