/* Esto es para empezar a hacer los ejercicios rápido
 y no tener que preocuparme del resto */

 /* Esto sirve para resetear los estilos del navegador */

 @import "../../00-RECURSOS/normalize.css";
 /* version online
 @import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css'); */

 /* tipografía de Google */
 @import url('LINK_DE_URL_DE_GOOGLE_OTROS');

 /* Como hacer que tengan eje horizontal o vertical */

 #contenedor {
     display: flex; 
     flex-direction: row;
 }

 p {
     width: 100px;
     height: 100px;
     text-align: center;
     border: 1px solid #000;
 }
/* columna en los elementos */

 #cont2 {
   display: flex; 
     flex-direction: column;
 }

 /* row para el otro lado */

 #cont3 {
    display: flex; 
    flex-direction: row-reverse;
 }

 ul {
     display: flex;
     flex-direction: row;
     list-style: none;
 }

 /*como hacer para que se distribuyan entre diferentes filas */
 #cont4 {
    display: flex;
    flex-wrap: wrap;
 }
