/*Handwritten*/
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
/*display*/
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

 * {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
 }

 /* en root puedes declarar el tamaño de los rem */
  /* em = es el valor en base a su padre 
 p {
     font-size: 1rem;
 }*/

 :root {
     font-size: 15px;
 }


 #contenedor { 
     width: 90vw;
     height: 100vh;
     margin: 0 auto;
 }
 
 header {
     border-bottom: 10px solid black;
 }

 header, section, footer { flex-basis: 100px}
 section {flex-grow: 3; }
 header, footer {flex-shrink: 2;}

.flex{display:flex;}
 .flexFila {flex-direction: row}
 .flexColumna {flex-direction: column}
 .flexSeparacion {justify-content: space-between; align-items: flex-end;}
 .flexAlineadoAbajo { align-items: flex-end;}

 h1, h2,  h3 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    margin: 0; 
    line-height: 2rem;
 }

 h2 { font-size: 1.6rem;}

 ul{margin: 0 auto; list-style: none;}
 li {
     font-family: 'Playfair Display', serif;
     font-size: 0.8rem;
     text-indent: 0;
     margin: 0;
     margin-left: 10px;
 }
 main section:nth-child(4) {
    display: flex;
    flex-direction: row;
 }

 section{
     display: flex;
     flex-direction: row;
     background: chartreuse;
 }

 article {
    padding: 2%;
 }

 main section:nth-child(1) article:nth-child(2) {
     background-color: rgb(138, 147, 215);
 }
 main section:nth-child(1) article:nth-child(1) {
    color: rgb(138, 147, 215);
}

main section:nth-child(2) article:nth-child(1) {
    background-color: rgb(60, 35, 63);
    color: rgb(255, 255, 255);

}
main section:nth-child(2) article:nth-child(2) {
   background-color: rgb(56, 114, 73);

}

main section:nth-child(3) article:nth-child(1) {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 24);

}
main section:nth-child(3) article:nth-child(2) {
    background-color: rgb(135, 105, 138);
   color: rgb(255, 255, 255);

}

main section:nth-child(4) article:nth-child(1) {
    background-color: rgb(75, 94, 199);
    color: rgb(255, 255, 255);
    background-color: rgb(146, 154, 182);
    color: rgb(68, 160, 84);
}
main section:nth-child(4) article:nth-child(1) {
    width:80%
}
main section:nth-child(4) article:nth-child(1) input{
    width:100%
}
 


main section:nth-child(4) article:nth-child(2) {
    background-color: rgb(146, 154, 182);
   color: rgb(68, 160, 84);
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

main section:nth-child(4) article:nth-child(2) h2 {
font-size: 2rem;
font-family: 'Times New Roman', Times, serif;
padding-top: 10%;
margin-bottom: -5%;
}

main section:nth-child(4) article:nth-child(2) img {
    filter: hue-rotate(180deg);
    filter: invert(100%);

    }

main section:nth-child(4) article:nth-child(2) a {
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -5%;
    margin-bottom: 5%;
    color:rgb(68, 160, 84);
    }

main section:nth-child(4) article:nth-child(1) {

    width: 80%;

}

 .columna1 {
    flex-grow: 1;
}

.columna2{
    flex-grow: 2;
}


/* -----*/

ul {
    margin: 0; list-style-type: none; position: relative;cursor: pointer;
}
 
li {
    font-size: 0.8rem;
     text-indent: 0;
    margin 0; 
    margin-left: 10px;
}

li > ul {
    display:none; position: absolute;  margin: 0;;
}

li:hover > ul {
    display: block;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);}

/* --Meter media queries-- */


@media screen and (max-width: 600px) {
body {
    background-color: red;
}

main section {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

img {
    width: 30%;

}

@media screen and (max-width: 300) {

    #contenedor {
        transform: scale(2);
        margin: 0;
        
    }

    main section article{

        width: 900px;
        height: auto;
    
    }