*{ box-sizing: border-box;width: 100%; height: auto; overflow: hidden;}
body,p,pre,ul,li {margin: 0;}
img {
    max-width: 100%; max-height: 100%;}
div{position: absolute}
.cred { position: absolute; top: 5%; left:5%; font-size: 5px;}

div#indice {
    background-color: wheat;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: center;
    
}

div#indice ul h1{
    text-decoration-line: underline ;
    text-align: left;

}
div#indice  ul li{
    margin: 5px;
    position: relative;
    left: 3%;
}

.mist {

}

div#caperucita {top:100px;left:200px; width:200px}
div#caperucita img{width: 100%;}
